<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs vontent">
      <h2>404 page not found</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum
        nam
      </p>
    </div>
  </body>
</html>
