<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs vontent">
      <h2>About Us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum
        nam iste exercitationem deleniti aperiam aliquid deserunt nisi nihil
        quis nesciunt enim eos mollitia, impedit totam labore facere fugiat
        officia maxime eveniet repellendus nulla ea.
      </p>
    </div>
  </body>
</html>
